# Ignore all __pycache__ directories recursively
__pycache__/
**/__pycache__/
modules/__pycache__/
build
dist
AppDir
YouVideoDownloader-x86_64.AppImage
youvideo-downloader_1.0-1
youvideo-downloader_1.0-1.deb
.vscode
.idea
*.pyc
youvideo-downloader-deb
youvideo-downloader_1.5.0_amd64.deb
appimagetool-x86_64.AppImage
YouVideo_Downloader-x86_64.AppImage
Output