Package: youvideo-downloader
Version: 3.0.0-1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Sarwar Hossain <sarwarhridoy4@gmail.com>
Homepage: https://github.com/Sarwarhridoy4/youvideo-downloader
Depends: libc6, zlib1g, ffmpeg
Conflicts: youvideodownloader
Replaces: youvideodownloader
Description: YouVideo Downloader is a simple and efficient YouTube video downloader built with PyQt6 and yt-dlp.
